:root {
    --clr1: wheat;
    --clr2: #333;
    --clr3: #4CAF50;
    --clr4: #ff5722;
    --clr5: white;
    --clr6: #eaeaea;
    --clr7: #afafaf;
    --clr8: #d0d0d0;
}

:root.dark-mode {
    --clr1: rgb(117, 0, 121);
    --clr2: wheat;
    --clr3: rgb(0, 146, 151);
    --clr4: rgb(0, 146, 151);
    --clr5: rgb(255, 255, 255);
    --clr6: rgb(137, 145, 253);
    --clr7: rgb(97, 107, 255);
    --clr8: rgb(193, 197, 248);
}

.hide {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.5s, color 0.2s;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--clr1);
    color: var(--clr2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


header {
    margin: 20px 0;
}

header h2 {
    font-size: 3rem;
    color: var(--clr2);
    text-transform: uppercase;
    letter-spacing: 2px;
}


.game-container {
    margin: 20px;
}


.game-container table {
    border-collapse: collapse;
    margin: 0 auto;
}

.game-container tr {
    display: flex;
    justify-content: center;
}

.timer-container {
    font-size: 20px;
    font-weight: bold;
    color: var(--clr2);
    padding: 20px;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    background-color: var(--clr6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.features {
    display: flex;
    flex-direction: column;
}

.game-container td:hover {
    background-color: var(--clr8);
}

.diff-container {
    margin-bottom: 20px;
}

.diff-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: var(--clr3);
    color: var(--clr5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.life-points-container {
    font-size: 24px;
}

.good-game {
    font-size: 1.5rem;
    color: var(--clr3);
    margin-top: 20px;
    margin-bottom: 3rem;
}

.good-game.hide {
    display: none;
}

.reset-btn,
.dark {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: var(--clr4);
    color: var(--clr5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: var(--clr5);
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    margin-top: 1rem;
}

.footer p {
    margin: 0;
    font-size: 1rem;
    letter-spacing: 1px;
}

.clicked-cell-num {
    background-color: var(--clr7);
}

.clicked-cell-zero {
    background-color: var(--clr8);
}

.clicked-cell-num:hover {
    background-color: var(--clr7);
}